body {
	background-color: #000;
}

.main {
	background-color: #fff;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
  font-size: 1.3rem;
}

.ryu {
	float: left;
    width: 659px;
    height: 494px;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;

}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
} 

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
  /*display: none;*/
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
  /*display: none;*/
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
  /*display: block;*/
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: relative;
  position: absolute;
  left: 610px;
  top: 170px;
  z-index: 10;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.instructions1, .instructions2 {
  display: inline-block;
  width: 200px;  
  position: absolute;
}

.instructions1 {
  top: 50px;
  left: 600px;
}
.instructions2 {
  top: 180px;
  left: 750px
}
